/* 
    Document   : style
    Author     : Luke
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: 'Lato', sans-serif;
    padding-top: 50px;
}
.settings-button:hover:before {
    transform: scale(1.5);
}
.settings-button:before {
    display:inline-block;
    content: "\f085";
    font-family: FontAwesome;
    line-height: 14px;
    padding-right: 10px;
     transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
.print-button:hover:before {
    transform: scale(1.5);
}
.print-button:before {
    display:inline-block;
    content: "\f02f";
    font-family: FontAwesome;
    line-height: 14px;
    padding-right: 10px;
     transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
.navbar-default {
    box-shadow: 0px 0px 5px #000;
    background-color: #fff;
}
.navbar-fixed-top {
    border-width: 0px;
}
.navbar-default .navbar-nav > li > a {
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;    
    font-size: 12px;
    color: #888;
    font-weight: 400;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #333;        
}
a {
    color: #337ab7;
}
a:hover,a:visited {
    color: #337ab7;
} 

footer a,footer a:visited {
    text-decoration: none;
    color: #9d9d9d;
    font-weight: 400;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #9d9d9d;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    line-height: 14px;
    background: rgba(255, 255, 255, 0.1);
}
footer p{
    margin:0;
}
.sidebar {
    display: none;
}
.sidebar .nav-sidebar {
    overflow: hidden;
}
.main {
    position: relative;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
header {
    position: relative;
}
.btn.btn-default.btn-refresh {
    position: absolute;
    right: 0px;
    top: 0px;
    border-radius: 50%;
}
.btn.btn-default, .btn.btn-primary {
    border-radius: 0px;
    outline: none;  
}
.btn.btn-default:hover {    
    box-shadow: 0px 0px 3px #ddd;
    background-color: #fff;
}
.btn.btn-default:focus {
    outline: none;
    background: #fff;
/*    box-shadow: 0px 0px 3px #337ab7;*/    
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;    
}
.navbar > .container-fluid .navbar-brand.settings-top-menu {
    margin-right: 15px;
    font-size: 24px;
    background: #000 !important;
    color: #fff !important;
    text-shadow: 0px 0px 2px #fff;
    margin-left: -65px;
}
/* Buzz */
@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.loader {
    text-align: center;
}
.loader:before {
    font-family: FontAwesome;
    font-size: 64px;
    content: "\f013";
    display: inline;
    -webkit-animation: fa-spin 1.5s infinite linear;
    animation: fa-spin 1.5s infinite linear;    
}
.loader:after {
    clear:both;
    content: '';
    display: block;
}
.settings-top-menu:hover .fa{
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;    
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
    font-size: 12px; 
    font-weight: 400;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
.nav-sidebar > li > a {
    padding: 7px 15px;    
}
.toogle-sidebar {
    position: absolute;
    right: -32px;
    top: -2px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;   
    font-weight: 300;
    font-size: 32px;
    border:0px;
    outline: none;
    background: transparent;
}
.toogle-sidebar,
.btn {
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
.toogle-sidebar:hover { 
    text-decoration: none;
     transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    top:0px;
}
.tooltip .tooltip-inner{
    
    font-family: 'Lato', sans-serif;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    max-width: 200px;
    white-space: nowrap;
}
.navbar-toggle {
    border:0px;
}
.nav.show-settings {
    background: #337ab7 !important;
    color: #fff;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd;
}
.nav.show-settings .file-upload {
    padding: 10px 15px;
    background: #fff;
    color: #000;
    border-right: 1px solid #eee;
}
.activate-settings ul > li {
    border-bottom: 1px solid #ddd;
}
.activate-settings ul > li:last-child {
    border-bottom: 0px;
}
.activate-settings ul > li div {
    display: none;
}
.nav.show-settings {
    display: none;
}
.nav.show-settings > li > a {
    color: #fff;
}
.nav.show-settings > li > a:after {
    display: inline-block;
    position: absolute;
    right: 15px;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 13px;
    transition:all 0.3s ease-in-out;
    
}
.nav.show-settings > li > a.active:after {
    content: "\f106";    
}
.nav-sidebar > li > a:after {   
    display: inline-block;
    position: absolute;
    right: 15px;
    content: "\f103";
    font-family: FontAwesome;
    font-size: 13px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
}
.nav-sidebar > li > a.active:after {   
    content: "\f102";    
}
.nav > li > a:hover {
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
.nav.show-settings > li > a:hover, .nav.show-settings > li > a:focus {
    background: #23527c;
}
.navbar-toggle span{
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out; 
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle:hover .icon-bar {
    /*width: 30px;*/
    /*margin-right: -5px;*/
    /*box-shadow: 0 0 1px #ebebeb;*/
    transform: scale(1.5);
    /*height: 3px;*/
}
/* google */
.google-visualization-table-table {    
   font-family: 'Lato', sans-serif !important;     
}
.google-visualization-table-tr-head .gradient, 
.google-visualization-table-tr-head-nonstrict .gradient, 
.google-visualization-table-div-page .gradient {
    color: #fff;
    background-color: #337ab7 !important;
    background-image: none !important;
}
.google-visualization-table-sortind {
    color: #fff !important;
    font-size: 12px !important;
    padding-left: 10px !important;
    line-height: 18px !important;
    vertical-align: top !important;
}
#contributors_chart svg text{
   font-family: 'Lato', sans-serif !important;      
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-buzz {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 35px 20px;
        /*overflow-x: hidden;*/
        /*overflow-y: auto;*/
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

